extends layout

block content
  h1 Brisbane Events Explorer
  h2 Find events for you!
  h3 Select your desired options below to ensure you're always at the best event in Brisvegas, at prime time. 
  ul Filter
    li Event is: 
      select.select
        option(value="ANY") any type. 
        option(value="FIT") fitness. 
    li Higher probability of: 
      select.select
        option(value="RAIN") rain is okay.
        option(value="NO-RAIN") no rain please!
    li UV protection required: 
      select.select
        option(value="UV") is okay, I have a hat.
        option(value="NO-UV") is not an option with my new hair. 
    li
      button.resetFilters(value="RESET") Reset
  p#eventCount Events currently shown: !{events.length} (Max)
  table#tableOfEvents
    thead.tableHead
      tr#tableHeaderRow
        th Event
        th Time
        th Details
        tbody.tableBody
          each event in events
            tr(id = event.eventID)
              td
                h4 !{event.title}  
                if event.eventImage != NULL 
                  //- Make sure that eventImage is not null
                  - const eventImageObjString = JSON.stringify(event.eventImage)
                  - const eventImageObj = JSON.parse(eventImageObjString)
                  - let eventImageUrl = JSON.stringify(eventImageObj.url);
                  - let eventImageUrlCleaned = eventImageUrl.replace(/"/g, ""); //- remove double quotes from URL
                  img.image(src=eventImageUrlCleaned) 
                else
                  div Image not found
              td
                p Starts: !{event.startDateTime.replace(/T/g, "<br>")}
                p Ends: !{event.endDateTime.replace(/T/g, "<br>")}
              td 
                p !{event.description} 
                br
                p !{event.webLink}

  script(src='/javascripts/filter.js')



