extends layout

block content
  h1 Brisbane Events Explorer
  h2 Find events for you!
  h3 Select your desired options below to ensure you're always at the best event in Brisvegas, at prime time. 
  ul Filters
    li Event type
    li No rain
    li UV protection not required
  p Up to 200 events shown below
  table(style='width:100%', border='1')
    tr
      th Event
      th Times
      th Information
      th Image
      each event in events
        tr
          td.eventTitle #{event.title} 
          td
            p Starts: #{event.startDateTime}
            p Ends: #{event.endDateTime}
          td 
            p !{event.description} 
            br
            p !{event.webLink}
          td 
            //- Make sure that eventImage is not null
            if event.eventImage != NULL
              - const eventImageObjString = JSON.stringify(event.eventImage)
              - const eventImageObj = JSON.parse(eventImageObjString)
              - let eventImageUrl = JSON.stringify(eventImageObj.url);
              - let eventImageUrlCleaned = eventImageUrl.replace(/"/g, ""); //- remove double quotes from URL
              img.image(src=eventImageUrlCleaned) 
              //- Temporarily add image url in to cell below
              p #{eventImageUrl}
            else
              div Image not found



