extends layout

block content
  h1 Brisbane Events Explorer
  h2 Find events for you!
  h3 Select your desired options below to ensure you're always at the best event in Brisvegas, at prime time. 
  ul Filters
    li Event type is 
      select.selectType
        option ANY
        option FITNESS
    li It 
      select.selectRain
        option CAN
        option CAN'T
      |  rain 
    li UV protection 
      select.selectUV 
        option IS
        option NOT
      |  required
    li
      button.resetFilters Reset
  p Up to 200 events shown, as per filters
  table#tableOfEvents
    thead.tableHead
      tr#tableHeaderRow
        th Event
        th Time
        th Details
        tbody.tableBody
          each event in events
            tr(id = event.eventID)
              td
                h4 !{event.title}  
                if event.eventImage != NULL 
                  //- Make sure that eventImage is not null
                  - const eventImageObjString = JSON.stringify(event.eventImage)
                  - const eventImageObj = JSON.parse(eventImageObjString)
                  - let eventImageUrl = JSON.stringify(eventImageObj.url);
                  - let eventImageUrlCleaned = eventImageUrl.replace(/"/g, ""); //- remove double quotes from URL
                  img.image(src=eventImageUrlCleaned) 
                else
                  div Image not found
              td
                p Starts: !{event.startDateTime.replace(/T/g, "<br>")}
                p Ends: !{event.endDateTime.replace(/T/g, "<br>")}
              td 
                p !{event.description} 
                br
                p !{event.webLink}

  script(src='/javascripts/filter.js')



