extends layout

block content
  h1 Brisbane Events Explorer
  h2 Find events for you!
  p Select your desired options belowe to ensure you're always at the best event, at the optimum time. 
  ul Filters: 
    li No rain
    li No UV protection required
  p Up to the next 200 events shown below:

  table(style='width:100%', border='1')
    tr
      th Title
      th Date 
      th Image
      each event in events
        //- button.eventTitle #{event.title} 
        //-WORKS: - var eventImageObj = JSON.stringify(event.eventImage) 
        //- Make sure that eventImage is not null
        if event.eventImage != NULL
          - const eventImageObjString = JSON.stringify(event.eventImage)
          - const eventImageObj = JSON.parse(eventImageObjString)
          - const eventImageUrl = JSON.stringify(eventImageObj.url);
          //- temporarily display image url text 
          //- p #{eventImageUrl}
          
          //- For some reason Pug/Node transforms this absolute value: 
          //- http://www.trumba.com/i/DgDhxtvzZEBEz%2AjAEUDofPUE.jpeg
          //- to this relative value: 
          //- http://localhost:3000/%22http://www.trumba.com/i/DgDhxtvzZEBEz%2AjAEUDofPUE.jpeg%22 
          tr
            td #{event.title}
            td Date 
            td(scope="row")
              if eventImageUrl
                img.image(src=eventImageUrl)
                p #{eventImageUrl}
              else
                div Image not found



