extends layout

block content
  h1 Brisbane Events Explorer
  h2 Find events for you!
  h3 Select your desired options below to ensure you're always at the best event in Brisvegas, at prime time. 
  ul Filter events:
    li Type is:
      - const eventTypesSet = new Set();
      each event in events
        each i in event.customFields
          if i.label == "Event type" 
            - let value = i.value; 
            - let valuesAtomic = value.split(',', 100);
            each val in valuesAtomic 
              - eventTypesSet.add(val)
      select.select
        option(value="Event type:ANY") ANY
          - // Convert to Array first, since Pug can't seem to handle the set 
          - eventTypesArr = Array.from(eventTypesSet);
          each eventType in eventTypesArr
            - let eventTypeWithPrefix = "Event type:" + eventType; 
            option(value=eventTypeWithPrefix) !{eventType} 
    li Max chance of rain: 
      select.select
          option(value=100) 100 
          option(value=50) 50
          option(value=20) 20
          option(value=10) 10
          option(value=5) 5
          option(value=0) 0
      | (%) 
    li
      button.resetFilters(value="RESET") Reset
  p#eventCount Current Events: !{events.length} (Max for this week)
  table#tableOfEvents
    thead.tableHead
      tr#tableHeaderRow
        th Event
        th Time
        th Details
        tbody.tableBody
          each event in events
            tr(id = event.eventID)
              td
                h4 !{event.title}  
                if event.eventImage != NULL 
                  //- Make sure that eventImage is in correct format
                  - const eventImageObjString = JSON.stringify(event.eventImage)
                  - const eventImageObj = JSON.parse(eventImageObjString)
                  - let eventImageUrl = JSON.stringify(eventImageObj.url);
                  - let eventImageUrlCleaned = eventImageUrl.replace(/"/g, ""); //- remove double quotes from URL
                  img.image(src=eventImageUrlCleaned) 
                else
                  div Image not found
              td
                p Starts: !{event.startDateTime.replace(/T/g, "<br>")}
                p Ends: !{event.endDateTime.replace(/T/g, "<br>")}
              td 
                p !{event.description} 
                br
                p !{event.webLink}

  script(src='/javascripts/filter.js')



